<head>  
  <title>Video Chat</title>
</head>


<body>  
  <h1>Welcome to Video Chat!</h1>
  {{> loginButtons}}
  {{#if currentUser}}
    {{> hello}}
  {{/if}}
</body>

<template name="hello">  
    <h2>Video Chat</h2>
    <div id="video-container">
      <!-- note the 'autoplay' -->
      <video id="myVideo" muted="true" class="myVideo" autoplay></video>
      <video id="theirVideo" class="theirVideo" autoplay></video>
    </div>

    <h2>Users</h2>
    <div>
      <!--<p>Your id: <span id="myPeerId">...</span></p>-->
      {{#each users}}
        <div><a href="#" id="makeCall">Call {{#each emails}}{{address}}{{/each}}</a></div>
      {{/each}}
    </div>
</template>  
